<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Functions</title>
</head>
<body>
    <h1>Functions</h1>
    <table>
        <tr>
            <th>From Node</th>
            <th>From Description</th>
            <th>To Node</th>
            <th>To Description</th>
        </tr>
        {% for index, row in functions.iterrows() %}
            <tr>
                <td>{{ row['From Node'] }}</td>
                <td>{{ row['From Description'] }}</td>
                <td>{{ row['To Node'] }}</td>
                <td>{{ row['To Description'] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
