<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Risk Assessment</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h1>DREAD </h1>
    <form method="POST" action="/calculate">
        <label for="damage">Damage (0-10):</label>
        <input type="number" name="damage" min="0" max="10" required><br>

        <label for="reproducibility">Reproducibility (0-10):</label>
        <input type="number" name="reproducibility" min="0" max="10" required><br>

        <label for="exploitability">Exploitability (0-10):</label>
        <input type="number" name="exploitability" min="0" max="10" required><br>

        <label for="affected_users">Affected Users:</label>
        <input type="number" name="affected_users" required><br>

        <label for="discoverability">Discoverability (0-10):</label>
        <input type="number" name="discoverability" min="0" max="10" required><br>

        <button type="submit">Calculate Risk</button>
    </form>

    {% if dread_result %}
    <h2>Risk Assessment Results:</h2>
    <p>DAMAGE: {{ dread_result.damage }}</p>
    <p>REPRODUCIBILITY: {{ dread_result.reproducibility }}</p>
    <p>EXPLOITABILITY: {{ dread_result.exploitability }}</p>
    <p>AFFECTED USERS: {{ dread_result.affected_users }}</p>
    <p>DISCOVERABILITY: {{ dread_result.discoverability }}</p>
    <p>DREAD Risk Value: {{ dread_result.risk_value }}</p>
    <p>Risk Level: {{ dread_result.risk_level }}</p>
    {% endif %}
    
    <!-- Add this form for Risk Assessment Tool -->
    <form method="POST" action="/calculate_risk">
        <h2>Risk Assessment Tool</h2>
        <label for="tp">Threat (t):</label>
        <input type="number" name="tp" min="0" step="0.01" required><br>
    
        <label for="vp">Vulnerability (v):</label>
        <input type="number" name="vp" min="0" step="0.01" required><br>
    
        <label for="c">Countermeasure Effectiveness (c):</label>
        <input type="number" name="c" min="0" step="0.01" required><br>
    
        <label for="i">Impact (i):</label>
        <input type="number" name="i" min="0" step="0.01" required><br>
    
        <button type="submit">Calculate Risk</button>
    </form>
    {% if risk_result %}
    <h2>Risk Assessment Tool Results:</h2>
    <p>Threat (t): {{ risk_result.tp }}</p>
    <p>Vulnerability (v): {{ risk_result.vp }}</p>
    <p>Countermeasure Effectiveness (c): {{ risk_result.c }}</p>
    <p>Impact (i): {{ risk_result.i }}</p>
    <p>Calculated Risk: {{ risk_result.risk }}</p>
    {% endif %}
    
</body>
</html>
